.employeeStatus{
    display: flex;
    flex-direction: row;
    border-left: 1px solid rgb(168, 162, 162);
    border-right: 1px solid rgb(168, 162, 162);
}

.employeeStatus .statusBox {
    height: 60px;
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(168, 162, 162);
    border-bottom: 1px solid rgb(168, 162, 162);
    flex: 1;
    cursor: pointer;
}

.employeeStatus .statusBox:not(:last-of-type):after {
    content: "";
    position: absolute;
    right: -29px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
    z-index: 3;
}

.employeeStatus .statusBox:not(:last-of-type):before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid rgb(168, 162, 162);
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
    z-index: 2;
}

.employeeStatus .statusBox.active{
    background-color: blue;
    color: white;
}

.employeeStatus .statusBox.active:after{
    border-left: 30px solid blue;
}